:root{
    --main-accent: #ffff7d;
    --primary-background: #1a1a1a;
    --secondary-background: #2a2a2a;
    --thirsty-background: #3a3a3a;
    --fourthly-background: #4a4a4a;

    --light-shine: 0 0 20px rgba(255, 215, 0, 0.5);
}


.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.code-display {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}



.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: var(--main-accent);
  transition: width 0.3s;
}

.menu-button {
  padding: 15px 30px;
  font-size: 20px;
  /* background: linear-gradient(135deg, #4caf50, #45a049); */
  background: var(--fourthly-background);
  color: var(--main-accent);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.menu-button:hover {
  transform: scale(1.1);
}